.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px 80px;
    color: #999;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 50;
    background-color: white;

    .right {
        font-size: 1.5rem;
        cursor: pointer;
    }

    .left {
        display: flex;
        
        .links {
            display: flex;
            gap: 16px;

            .link {
                cursor: pointer;
                font-weight: 500;
                padding: 4px 0;
            }

            .router-link-active {
                color: #777;
                border-bottom: 3px solid #777;
            }
        }
    }
}