<div class="header-container">
  <div class="right">
    <h3 routerLink="/">Rozvrh</h3>
  </div>
  <div class="left">
    <div class="links">
      <span class="link" [routerLink]="['/paralelky']" routerLinkActive="router-link-active" >Paralelky</span>
      <span class="link" [routerLink]="['/ucitelia']" routerLinkActive="router-link-active" >Učitelia</span>
      <span class="link" [routerLink]="['/miestnosti']" routerLinkActive="router-link-active" >Miestnosti</span>
      <span class="link" [routerLink]="['/predmety']" routerLinkActive="router-link-active" >Predmety</span>
      <span class="link" [routerLink]="['/katedry']" routerLinkActive="router-link-active" >Katedry</span>
    </div>
  </div>
</div>
