<h2 mat-dialog-title class="dialog-header">Vybrať miestnosť</h2>
<mat-dialog-content>
  <form class="assign-room-form" [formGroup]="myForm" *ngIf="next">
    <mat-form-field appearance="outline">
      <mat-label>Miestnosť</mat-label>
      <mat-select formControlName="room">
        <mat-option *ngFor="let room of data.rooms" [value]="room"> 
          <div class="room-option">
            <p class="first-row"> 
              <span> {{ room.name }} </span>
              <span> {{ room.capacity }} miest </span>
            </p>
            <p class="second-row"> {{ room.type }} </p>
          </div>
        </mat-option>
      </mat-select>
      <mat-error *ngIf="myForm?.get('room')?.invalid">Miestnosť je povinná</mat-error>
    </mat-form-field>
  </form>
  <div *ngIf="!next" class="constraint">
    <h4>Daný učiteľ v tomto čase nechce učiť.</h4>
    <mat-checkbox [formControl]="overrideCollision"> Ignorovať časové obmedzenie učiteľa </mat-checkbox>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Zrušiť</button>
  <button mat-raised-button *ngIf="next" (click)="submit()" color="primary" cdkFocusInitial>Vytvoriť</button>
  <button mat-raised-button *ngIf="!next" [disabled]="!overrideCollision.value" color="primary" (click)="next = true">Ďalej</button>
</mat-dialog-actions>
