$PRIMARY_COLOR: #4D66D1;
$SECONDARY_COLOR: #D19C4D;
$GREY_COLOR: #f5f6fa;
$BLACK_COLOR: #2D334D;
$ERROR_COLOR: #D14D4D;
$TEXT_LIGHT_COLOR: #AAAAAA;

$PRIMARY_SECOND_COLOR: #7285DB;
$PRIMARY_THIRD_COLOR: #9BAAE8;
$PRIMARY_FOURTH_COLOR: #C7CFF2;

$SECONDARY_SECOND_COLOR: #DBB172;
$SECONDARY_THIRD_COLOR: #E8C99B;
$SECONDARY_FOURTH_COLOR: #F2E1C7;

$NORMAL_GAP: 16px;
$MIDDLE_GAP: 12px;

$NORMAL_RADIUS: 4px;
$MAIN_WIDTH: clamp(250px, 80%, 800px);